<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, '説明' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :due_date, '期日' %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :assignee_id, '担当者' %>
    <%= form.collection_select(:assignee_id, User.all, :id, :email, { include_blank: true }) %>
  </div>

  <div class="actions">
    <%= form.submit '保存' %>
  </div>
<% end %>
