<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>完了フラグ:</strong>
  <%= @task.is_done ? '完了済み' : '未完了' %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '一覧に戻る', tasks_path %>
