<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ログインしているときにログインユーザーの情報を表示する %>
    <% if user_signed_in? %>
      <div>
        <span><%= current_user.email %> でログイン中</span>
        <span><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></span>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
